{% extends 'base.html' %}
{% load static %}
{% load markdown_tag %}

{% block title %}
    О нас
{% endblock %}

{% block content %}

    <div class="bg-image d-flex justify-content-center align-items-baseline overflow-scroll"
         style="background-image: url({% static 'img/bg2.jpg' %});height: 160vh;">
        <div class="img__description bg-opacity-25 bg-dark" style="padding-bottom: 10px; padding-top: 10px; margin-top: 10px;">>
            <div class="text-white container" style="margin-bottom: 10px;">
                <div class="text-center" style="margin-left: 2%; margin-right: 2%">{{ about_us.text | markdown | safe }}</div>
            </div>
        </div>
    </div>

{% endblock %}