{% extends 'base.html' %}
{% load static %}
{% load markdown_tag %}

{% block title %}
    О нас
{% endblock %}

{% block content %}

    <div class="bg_nord bg-image d-flex justify-content-center align-items-center"
         style="background-image: url({% static 'img/bg2.jpg' %});height: 130vh; @media(max-width: 1024px) {
                 height: 200vh
         }">

        <div class="img__description bg-opacity-25 bg-dark">
            <div class="text-white container" style="padding-left: 2%; padding-right: 2%">
                <p style="padding-top: 2%; ">{{ about_us.text | markdown | safe }} </p>
            </div>
        </div>
    </div>


{% endblock %}