{% extends "base.html" %}
{% load userfilters %}
{% block title %}Войти{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4 p-5">
            <div class="card">

                <div class="card-body container">

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post"
                            {% if action_url %}
                          action="{% url 'action_url' %}"

                            {% endif %}
                          enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form %}
                            <div class="form-group row my-3 container"
                                    {% if field.field.required %}
                                 aria-required="true"
                                    {% else %}
                                 aria-required="false"
                                    {% endif %}
                            >
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ field|addclass:'form-control' }}
                                    {% if field.help_text %}
                                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                            {{ field.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="container" style="margin-bottom: 4%">
                            {{ image_form.management_form }}
                            {% for form in image_form %}
                                {{ form }}
                            {% endfor %}
                        </div>
                        <div class="container" style="margin-bottom: 4%">
                            {{ video_form.management_form }}
                            {% for form in video_form %}
                                {{ form }}
                            {% endfor %}
                        </div>

                        <div class="col-md-6 offset-md-4 text-center">
                            <button type="submit" class="btn btn-dark">
                                Добавить пост
                            </button>
                        </div>
                    </form>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock %}