{% extends "base.html" %}
{% load userfilters %}

{% block title %}
    Редактирование поста
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-7 p-5">
            <div class="card">

                <div class="card-body">

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post"
                            {% if action_url %}
                          action="{% url 'action_url' %}"

                            {% endif %}
                          enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form %}
                            <div class="form-group row my-3"
                                    {% if field.field.required %}
                                 aria-required="true"
                                    {% else %}
                                 aria-required="false"
                                    {% endif %}
                            >
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ field|addclass:'form-control' }}
                                    {% if field.help_text %}
                                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                            {{ field.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}


                            {% for form in image_forms %}
                                <div class="form-group row my-3"
                                        {% if form.field.required %}
                                     aria-required="true"
                                        {% else %}
                                     aria-required="false"
                                        {% endif %}
                                >
                                    <label for="{{ form.id_for_label }}">
                                        {{ form.label }}
                                        {% if form.field.required %}
                                            <span class="required text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    <div>
                                        {{ form|addclass:'form-control' }}
                                        {% if form.help_text %}
                                            <small id="{{ form.id_for_label }}-help" class="form-text text-muted">
                                                {{ form.help_text|safe }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
{##}
{#                        {% endfor %}#}



                        {{ video_form.management_form }}
                        {% for form in video_form %}
                            <div class="form-group row my-3"
                                    {% if form.field.required %}
                                 aria-required="true"
                                    {% else %}
                                 aria-required="false"
                                    {% endif %}
                            >
                                <label for="{{ form.id_for_label }}">
                                    {{ form.label }}
                                    {% if form.field.required %}
                                        <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ form|addclass:'form-control' }}
                                    {% if form.help_text %}
                                        <small id="{{ form.id_for_label }}-help" class="form-text text-muted">
                                            {{ form.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="col-md-6 offset-md-4 text-center">
                            <button type="submit" class="btn btn-dark">
                                Изменить пост
                            </button>
                        </div>
                    </form>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock %}