{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Мои друзья
{% endblock %}

{% block content %}
    <div class="bg-image d-flex justify-content-center align-items-center"
         style="background-image: url({% static 'img/woman_with_child1.jpg' %});height: 100%;">
        <div class="col-md-6 p-5">
            <div class="card bg-opacity-75 bg-white">

                <div class="card-header ">Мои друзья</div>

                <div class="card-body">
                    {% for friend in page_obj %}
                        {% if friend.social_network_nickname %}
                            <li>Никнейм в соц. сети: {{ friend.social_network_nickname }}</li>
                        {% endif %}

                        <li>Имя и фамилия получателя: {{ friend.recipient_full_name }}</li>
                        <li>Адрес: {{ friend.postal_address }}</li>
                        <li>Почтовый индекс: {{ friend.zip_code }}</li>
                        <hr class="solid">
                    {% endfor %}
                </div> <!-- card body -->
            </div> <!-- card -->
            <div class="d-flex justify-content-center">
                {% include 'posts/includes/paginator.html' %}
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock %}