.comments ul ul {
    margin-left: 60px;
}

.comments .comment img {
    margin-right: 20px;
}

.comments .comment {
    padding: 6px;
}

.comments .comment:hover {
    background: #eee;
}

.mb-4 {
    margin-bottom: 0 !important;
}

.bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /*text-align: center;*/
}

@media (min-width: 768px) {
    .offset-md-4 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    .col {
        text-align: center !important;
        justify-content: center !important;
    }

    .text_wrap {
        margin: 10px !important;
        /*margin-left: 5px !important;*/
    }

    .d-flex {
        justify-content: center !important;
    }

    /*.bg_nord {*/
    /*    height: 160vh;*/
    /*}*/
}

@media (max-width: 768px) {
    .post_button {
        padding-left: 0 !important;
        padding-bottom: 7px;
    }
    .btn {
        width: 120px;
    }
    .sign_button {
        margin-right: 0 !important;
        margin-bottom: 7px;
    }
}

.bg_nord {
    height: 160vh;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 2%;
}


