
.comments ul ul {
 margin-left: 60px;
}
.comments .comment img {
 margin-right: 20px;
}
.comments .comment {
 padding: 6px;
}
.comments .comment:hover {
 background: #eee;
}


/*.d-flex {*/
/*    justify-content: center !important;*/
/*}*/

.mb-4 {
    margin-bottom: 0 !important;
}

.bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    /*text-align: center;*/
}

@media (min-width: 768px) {
    .d-flex {
        justify-content: center !important;
    }

    .offset-md-4 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .d-flex {
        justify-content: center !important;
    }
}
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 2%;
}


