<li><a href="{% url 'posts:index' %}" class="nav-link px-2 link-secondary">Новости</a></li>
<li><a href="{% url 'posts:competition_posts' %}" class="nav-link px-2 link-dark">Конкурсы</a></li>
<li><a href="{% url 'posts:subscribers_posts' %}" class="nav-link px-2 link-dark">Материалы от подписчиков</a></li>
<li><a href="{% url 'posts:useful_links' %}" class="nav-link px-2 link-dark">Полезные ссылки</a></li>
<li><a href="#" class="nav-link px-2 link-dark">О проекте</a></li>
<li><a href="#" class="nav-link px-2 link-dark">Контакты</a></li>