{% load static %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="{% url 'posts:index' %}"></use>
        </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% include 'includes/base_navigation_menu.html' %}
    </ul>

    <div class="col-md-3 text-end">
        <a href="{% url 'users:login' %}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
        <a href="{% url 'users:signup' %}"><button type="button" class="btn btn-primary" >Регистрация</button></a>
    </div>
</header>