<style>
    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: black !important;
        background-color: white !important;
        border: 1px solid #262626 !important;
    }

    .page-link:hover {
        z-index: 2;
        color: white !important;
        text-decoration: none;
        background-color: black !important;
        border-color: #dee2e6;
    }

    @media (max-width: 400px) {
        .word {
            display: none;
        }

        .page-link {
            border-radius: 0 !important;
        }
    }
</style>

{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation" class="my-5">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Предыдущая
                    </a>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item word">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Следующая
                    </a>
                </li>
                <li class="page-item word">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        Последняя
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}