{% load markdown_tag %}
{% load thumbnail %}
{% load embed_video_tags %}

<style xmlns="http://www.w3.org/1999/html">
    .thumb img {
        -webkit-filter: grayscale(0);
        filter: none;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 5px;
    }

    .thumb img:hover {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    .thumb {
        padding: 10px;
    }

    .img__description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: silver;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .img__header {
        font-weight: bold;
    }

    .img__container {
        position: relative;
        margin: 20px auto 30px auto;
    }

    .img__container > img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
</style>

<article style="padding-bottom: 6%">
    <ul style="padding-left: 0">
        <div class="container" style="margin-bottom: 1%">
            <b>Автор:</b> {{ post.author.username }} <br>
            <b>Дата публикации:</b> {{ post.pub_date|date:"d E Y" }}
        </div>
    </ul>
    <div class="rounded bg-opacity-50" style="background-color: #e9e9e9">

        <div class="img__container">
            {% thumbnail post.main_image "960x380" crop="center" upscale=True as im %}
                <img src="{{ im.url }}" class="card-img my-3 border-bottom border-white border-3" alt="..." style="margin: 0 !important;">
            {% endthumbnail %}

            <div class="img__description bg-opacity-25 bg-dark">
                <div class="img__header h1 text-center text-white">{{ post.title }}</div>
            </div>
        </div>


        <div class="text-dark container" style="padding-left: 2%; padding-right: 2%">
            <p style="padding-top: 2%; ">{{ post.text | markdown | safe }} </p>
        </div>

        {% if post.get_post_images or post.get_post_video %}
            <div class="container">
                <div class="h4 text-center" style="padding-top: 2%; padding-bottom: 1%;">Фото и видеоматериалы</div>
            </div>
        {% endif %}
        <div class="container">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                {% if post.get_post_images %}
                    {% for image in post.get_post_images %}
                        <div class="col thumb">
                            <a data-fancybox="gallery{{ post.id }}" href="{{ image.image.url }}">
                                {% thumbnail image.image "960x700" crop="center" upscale=True as im %}
                                    <img src="{{ im.url }}" class="d-block w-100" alt="...">
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if post.get_post_video %}
                    <div class="col-lg-3 col-md-4 col-6 thumb">
                        <a data-fancybox="gallery" href="{{ post.get_post_video.video }}">
                            {% thumbnail post.get_post_video.video "960x700" crop="center" upscale=True as im %}
                                {% video post.get_post_video.video '100% x 100%' %}
                            {% endthumbnail %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-start"
                     style="justify-content: start !important; padding-top: 1%; padding-right: 0.5%; padding-bottom: 1%">
                    <a href="{% url 'comments:comment_list' post.id %}">
                        <button type="button" class="btn btn-dark me-2 btn-sm">комментарии</button>
                    </a>
                    {% if request.user.is_superuser or post.author == request.user %}
                        <a href="{% url 'posts:update_post' post.id %}">
                            <button type="button" class="btn btn-outline-dark me-2 btn-sm">редактировать</button>
                        </a>
                        <a href="{% url 'posts:delete_post' post.id %}">
                            <button type="button" class="btn btn-outline-dark me-2 btn-sm">удалить</button>
                        </a>
                    {% endif %}
                </div>

                <div class="col d-flex justify-content-end" style="justify-content: end !important;">
                    {#                    <div class="text-dark">Поделиться вконтакте</div>#}
                    {% include 'posts/includes/social_networks.html' %}
                </div>


                {#                <script id="post_id" type="application/json">{{ post.id }}</script>#}


            </div>
        </div>
    </div>

</article>