{% load userfilters %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
{#<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>#}

<div class="modal fade modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ваш комментарий</h1>
                {#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
            </div>
            <div class="modal-body" style="margin-left: 2%; margin-right: 2%">
                {#                <div class="d-flex align-items-center bg-image"#}
                {#                        style="background-image: url({% static '/img/arctic_child.jpeg' %});">#}
                <form method="post"
                        {% if action_url %}
                      action="{% url 'comments:comment_create' %}"
                        {% endif %}
                      enctype="multipart/form-data"
                >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group row my-3">
                            {{ field|addclass:'form-control' }}
                        </div>
                    {% endfor %}
                                <button type="submit" class="btn btn-dark btn-sm">
                        Отправить
                </button>
                <a href="{% url 'posts:post_list' %}" class="btn btn-dark btn-sm">Закрыть</a>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    new bootstrap.Modal(document.getElementById('staticBackdrop')).show();
</script>