{% extends 'base.html' %}
{% load markdown_tag %}
{% load userfilters %}
{% load static %}

{% block title %}
    Комментарии
{% endblock %}

{% block content %}

    <div class="container">
        <div class="h3 panel-heading">
            Комментарии ({{ comments_count }})
        </div>
        <div class="row">
            {% for comment in comments %}

                <div class="col-md-12">
                    <div class="panel panel-info">

                        <div class="panel-body comments">

                            <hr>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="comment">
                                        <div class="media-body">
                                            <strong class="text">{{ comment.author }}</strong>
                                            <span class="text-muted">
                                                <small class="text-muted">{{ comment.comment_date }}</small>
                                             </span>
                                            <div class="row">
                                                <div class="col-10">
                                                    <p>{{ comment.text | markdown | safe }}</p>
                                                </div>

                                                {% if comment.author == request.user or request.user.is_superuser %}
                                                    <div class="col-1">
                                                        <div class="row">
                                                            <a href="{% url 'comments:comment_update'  comment.id %}"
                                                               class="nav-link px-2">изменить</a>
                                                            <a href="{% url 'comments:comment_delete' comment.id %}"
                                                               class="nav-link px-2">удалить</a>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
                <a href="{% url 'comments:comment_create' post.id %}">
                    <button type="submit" class="btn btn-dark pull-right btn-sm justify-content-start">
                        Добавить комментарий
                    </button>
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}