{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<header>
    <img src="{% static 'img/fav/logo1.jpg' %}" alt="" class="img-fluid" width="95" height="80">
</header>
<body>
<p>
    Уважаемый {{ user.username }}, вы запросили ссылку на сброс старого пароля. Для того чтобы восстановить пароль,
    нажмите на кнопку ниже
</p>
<div class="justify-content-center">
    <a class="button btn-primary" role="button"
   href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">СБРОС ПАРОЛЯ</a>
</div>

</body>
</html>