{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Изменение пароля
{% endblock %}

{% block content %}
    <main>
        <div class="row justify-content-center">
            <div class="col-md-4 p-5">
                <div class="card">
                    <div class="card-header">
                        Изменить пароль
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'password_change' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark">Сохранить пароль</button>
                            </div>
                        </form>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </main>
{% endblock %}